


{{ define "main" }}



<!-- <main aria-role="main"> -->
<main class="post">




  <div class="content">
    <div class="index-content framed">
      <h1 align="center" id="hello-there">Hello!</h1>
      <img src="images/portrait.jpg" alt="Me" class="center" width=40% border-radius=50%>


      <h1>
      </h1>
      <div align= "justify" class="content">
          My name is Hugh and I am a Junior in Dunster studying Economics. I am
          currently studying from home in Upstate, New York but I will be staying in
          Cambridge during March and April. I'm very interested in 3D printing―I
          bought a cheap printer during the pandemic to tinker with. However, I
          do not have much experience with any of the other aspects of this course,
          so I am very excited to get learning!
      </div>
      <h1>
      </h1>

      <div align="center">
          <a class="read-more button" href="/timeline">Projects → </a>
        </div>
    </div>
  </div>

</div>

</main>



{{ end }}
